.search_container {
  position: absolute;
  top: 5%;
  left: 12%;
  right: 12%;
  height: 3em;
  border-radius: 2em;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
}

.search_input_container {
    margin-inline-start: 1em;
    display: flex;
    align-items: center;
    gap: 0.4em;
    color: #80BDA7;
}

.search_input_container input:focus {
    outline: none;
}

.search_input_container input {
    color: #80BDA7;
    font-weight: bold;
    border: none;
}

.search_input_container input::placeholder {
    color: #D3E0DB;
    font-weight: bold;
    font-size: 1.2em;
}

.search_icon {
    width: 1.2em;
    height: 1.2em;
}